*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  
}

body{
  background-color: rgb(193, 205, 210);
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
}

.home{
  height: 50vh;
  min-height: 400px;
}

.home h1{
  padding-top: 7em;
  margin: 7px 9px;
}

p {
  margin-bottom: 10em;
}

nav{
  background-color: gray;
}

nav a {
  display: inline-block;
  margin: 1rem;
  padding: 0.25rem;
  text-decoration: none;
  font-size: 1.2em;
  transition: 0.1s;
  
}



.about a {
  margin-left: 2em;
}

